
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart Convenience Hub</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/" th:href="@{/}">Home</a></li>
        <li><a href="/login" th:href="@{/user/login}">Login</a></li>
        <li><a href="/register" th:href="@{/user/register}">Register</a></li>
    </ul>
</div>

<h1>Welcome to the Smart Convenience Hub!</h1>
<p>Your gateway to local convenience stores.</p>
</body>
</html>
