<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store Owner Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/" th:href="@{/}">Home</a></li>
        <li><a href="/store-owner/login" th:href="@{/store-owner/login}">Logout</a></li>
    </ul>
</div>

<h1>Store Owner Dashboard</h1>
<p>Welcome to your dashboard where you can manage your store.</p>


</body>
</html>
